
<br>


<div class="container">

  <div class="box"><a href="/vitals/new">Enter today's readings</a></div>
  <div class="box"><a href="/vitals/show">Check previous readings</a></div>
  <div class="box"><a href="#">Contact the nurse</a></div>

</div>