<h2>Enter your readings:</h2>


<form id="form" action="/vitals" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <h3>Temperature</h3>
    <section>
        <legend>Enter</legend>
 
        <label for="temp">Temperature: *</label>
        <input id="temp" name="temp" type="text" class="required"> &#8451;
        <p>(*) Mandatory</p>

    </section>
 
    <h3>Blood Pressure</h3>
    <section>
        <legend>Enter</legend>
 
        <label for="bp">Blood Pressure: *</label>
        <input id="bp" name="sbp" type="text" class="required"> / 
        <input id="bp" name="dbp" type="text" class="required"> mmHg
        <p>(*) Mandatory</p>

    </section>
 
    <h3>Heart Rate</h3>
    <section>
        <legend>Enter</legend>
 
        <label for="pr">Heart Rate: *</label>
        <input id="pr" name="pr" type="text" class="required"> bpm
        <p>(*) Mandatory</p>

    </section>
 
    <h3>Blood Sugar Level</h3>
    <section>
        <legend>Enter</legend>
 
        <label for="bsl">Blood Sugar Level: *</label>
        <input id="bsl" name="bsl" type="text" class="required"> mmol/L
        <p>(*) Mandatory</p>
    </section>
</form>



