<div style="width:50%;">
    <canvas id="tempChart"></canvas>
</div>
<script>

var ctx = document.getElementById("tempChart");
var tempChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["01/12", "02/12", "03/12", "04/12", "05/12", "06/12", "07/12"],
        datasets: [{
            label: 'Temperature',
            data: [36.5, 36.0, 36.6, 37.0, 36.9, 36.5, 36.0],
            fill: false,
            borderColor: [
                'black',
            ],
            borderWidth: 1,
            pointBackgroundColor: 'black',
        }]
    },
    options: {
        responsive: true,
		title: {
			display: true,
			text: 'Temperature recordings'
		},
        legend: {
            display: true,
            labels: {
                fontColor: 'black'
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    min: 25,
                    max: 50,
                    stepSize: 10,
                }
            }]
        }
    }
});
</script>